/**** BusyBus Style Sheet for iOS ****/

/* iPhone 8 */

*, *:before, *:after {
  box-sizing: border-box;
}

@font-face {
font-family: "San Francisco Regular";
src: url(../San_Francisco_Pro/SF-Pro-Text-Regular.otf);
}

@font-face {
font-family: "San Francisco Light";
src: url(../San_Francisco_Pro/SF-Pro-Text-Light.otf);
}

@font-face {
font-family: "San Francisco Bold";
src: url(../San_Francisco_Pro/SF-Pro-Text-Bold.otf);
}

body {
  font-family: "San Francisco Regular";
  font-size: 16px
}

h1 {
  font-family: "San Francisco Bold";
  font-size: 1.250em;
  color: #ffffff;
}

h2 {

    font-size: 1.063em;
  }

h3 {
    font-size: .938em;
    color: #8C8C8C;
  }

  hr{
    display: flex;
    background-color: #8C8C8C;
  }

  br {
    display: block;
    content: "";
    margin-top: 11%;
}

div {
  width: 100%;
}

.icon_backarrow{
display: flex;
width: 12.27px;
height: 20.66px;
margin-top: 10%;
margin-left: 5%
}

.container {
position: relative;
margin: 0 auto;
width: 375px;
height: 667px;
}

.header {
  background-color: #11B8FF;
  display: flex;
  width: 100%;
  height: 15%;
  border-bottom-color: #067FB3;
  border-bottom-style: solid;
  border-bottom-width: 5px;
}

.map{
  width: 100%;
  height: 45%;
  background-image: url("../images/Map.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.header_text{
  text-align: center;
  margin-top: 10%;
  margin-left: 13%
}

.walking_time{
  font-family: "San Francisco Light";
  width: 100%;
  height: 40%;
  display: flex;
  position: absolute;
  background-color: #067FB3;
}

.walk_text{
  color: #ffffff;
  text-align: center;
  margin-left: 5%;
  margin-top: 3%;
}

.icon_walk{
  width: 24px;
  height: 24px;
  margin-left: 23%;
  margin-top: 2%;
}

.footer {
  background-color: #11B8FF;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 35%;
  overflow-y: scroll;
  overflow-x: hidden;

}

.information {
  width: 95%;
  height: 50%;
  margin: 0 auto;
  margin-top: 5%;
  border-radius: 15px;
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  flex-direction: row;
}

.information_bottom{
  position: absolute;
  margin-top: 15%;
  padding-top: 6%;
  display: flex;
  width: 95%;
  border-top: .5px solid grey;


}
 .information_rightcolumn{
   position: absolute;
   display: flex;

 }

.bus_line{
  margin-left: 3%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.destination{
  font-family: "San Francisco Light";
  margin-left: 3%;
  align-self: flex-end;
  margin-bottom: 50%;
  word-wrap: break-word;

}

.frequency{
  font-family: "San Francisco Light";
  padding-top: 2.3%;
  margin-left: 76%;
}


.direction{
  color: #067FB3;
  margin-left: 3%;
  margin-right: 9%;
}

.direction_eastbound{
  color: #067FB3;
  margin-left: 3%;
  margin-right: 12%;
}

.direction_incorrect{
  color: #C74343;
  margin-left: 3%;
  margin-right: 12%;
}

.eta{
  align-self: center;

}
